ElectricityNetView/Service References/ElectricityService/ElectricityService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ElectricityWcfService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ElectricityWcfService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LogUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="Action" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Time" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UserID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LogUser" nillable="true" type="tns:LogUser" />
  <xs:complexType name="ConfigLineInformation">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="LineName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RatedCurrent" type="xs:double" />
      <xs:element minOccurs="0" name="StationID_End" type="xs:int" />
      <xs:element minOccurs="0" name="StationID_Start" type="xs:int" />
      <xs:element minOccurs="0" name="VoltageLevel" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConfigLineInformation" nillable="true" type="tns:ConfigLineInformation" />
  <xs:complexType name="ConfigStationInformation">
    <xs:sequence>
      <xs:element minOccurs="0" name="BuildTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="InstallCapacity" type="xs:double" />
      <xs:element minOccurs="0" name="Latitude" type="xs:double" />
      <xs:element minOccurs="0" name="Longitude" type="xs:double" />
      <xs:element minOccurs="0" name="StationName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VoltageLevel" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConfigStationInformation" nillable="true" type="tns:ConfigStationInformation" />
  <xs:complexType name="RuntimeLineData">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="LineID" type="xs:int" />
      <xs:element minOccurs="0" name="LoadQuantity" type="xs:double" />
      <xs:element minOccurs="0" name="Time" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RuntimeLineData" nillable="true" type="tns:RuntimeLineData" />
  <xs:complexType name="RuntimeStationData">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActivePower" type="xs:double" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="ReactivePower" type="xs:double" />
      <xs:element minOccurs="0" name="StationID" type="xs:int" />
      <xs:element minOccurs="0" name="Time" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RuntimeStationData" nillable="true" type="tns:RuntimeStationData" />
  <xs:complexType name="ForecastDayStationData">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActivePower" type="xs:double" />
      <xs:element minOccurs="0" name="ForecastType" type="xs:int" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="ReactivePower" type="xs:double" />
      <xs:element minOccurs="0" name="StationID" type="xs:int" />
      <xs:element minOccurs="0" name="Time" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ForecastDayStationData" nillable="true" type="tns:ForecastDayStationData" />
  <xs:complexType name="ArrayOfConfigStationInformation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ConfigStationInformation" nillable="true" type="tns:ConfigStationInformation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfConfigStationInformation" nillable="true" type="tns:ArrayOfConfigStationInformation" />
  <xs:complexType name="ArrayOfRuntimeStationData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RuntimeStationData" nillable="true" type="tns:RuntimeStationData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRuntimeStationData" nillable="true" type="tns:ArrayOfRuntimeStationData" />
  <xs:complexType name="ArrayOfForecastDayStationData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ForecastDayStationData" nillable="true" type="tns:ForecastDayStationData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfForecastDayStationData" nillable="true" type="tns:ArrayOfForecastDayStationData" />
</xs:schema>