ElectricityNetView/Service References/ElectricityService/ElectricityService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:44804/ElectricityService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ElectricityWcfService" />
  <xs:element name="AddLogUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ElectricityWcfService" minOccurs="0" name="Record" nillable="true" type="q1:LogUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddLogUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddLogUserResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddConfigLineInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ElectricityWcfService" minOccurs="0" name="Record" nillable="true" type="q2:ConfigLineInformation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddConfigLineInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddConfigLineInformationResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddConfigStationInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ElectricityWcfService" minOccurs="0" name="Record" nillable="true" type="q3:ConfigStationInformation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddConfigStationInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddConfigStationInformationResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRuntimeLineData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ElectricityWcfService" minOccurs="0" name="Record" nillable="true" type="q4:RuntimeLineData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRuntimeLineDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddRuntimeLineDataResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRuntimeStationData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ElectricityWcfService" minOccurs="0" name="Record" nillable="true" type="q5:RuntimeStationData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRuntimeStationDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddRuntimeStationDataResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindLogUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindLogUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ElectricityWcfService" minOccurs="0" name="FindLogUserResult" nillable="true" type="q6:LogUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindConfigLineInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindConfigLineInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ElectricityWcfService" minOccurs="0" name="FindConfigLineInformationResult" nillable="true" type="q7:ConfigLineInformation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindConfigStationInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindConfigStationInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ElectricityWcfService" minOccurs="0" name="FindConfigStationInformationResult" nillable="true" type="q8:ConfigStationInformation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindRuntimeLineData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindRuntimeLineDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ElectricityWcfService" minOccurs="0" name="FindRuntimeLineDataResult" nillable="true" type="q9:RuntimeLineData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindRuntimeStationData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindRuntimeStationDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ElectricityWcfService" minOccurs="0" name="FindRuntimeStationDataResult" nillable="true" type="q10:RuntimeStationData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StationAlert">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StationAlertResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>